{
    "version": 1,
    "minor_version": 1,
    "key": "core.config",
    "data": {
        "latitude": 54.12064319270026,
        "longitude": -9.238294346141629,
        "elevation": 100,
        "unit_system": "metric",
        "location_name": "Deer Crest",
        "time_zone": "GMT",
        "external_url": null,
        "internal_url": null,
        "currency": "EUR"
    }
}