!**/www/**

.ssh
.cloud
.google.token

**/.storage/auth_provider.homeassistant

*.log*
**/log.txt
secrets.yaml
home-assistant.log*
home-assistant_v2.*
id_rsa*

**/__pycache__
**/*.db
**/*.db-shm
**/*.db-wal
**/deps/**
**/*.backup

